@media (max-width: 910px){
    :root {
        --yellow: #fb8c38;
        --blue: #751d9e;
    }
    .page {
        padding: 5px;
    }
    main .cards {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
}