* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white:#ffffff;
  --yellow: #ffcc29;
  --blue: #1d539e;
  --gray: #828799;
  --page-background: #f9fbfc;

  font-size: 62.5%;
  --font-titule: clamp(2.5rem,1rem + 5vw,4.8rem);
  --font-paragrafo:clamp(1rem,0.3rem + 2vw,1.8rem);
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--page-background);
}

.page {
  margin: auto;
  text-align: center;
}

header::before {
  content: "";
  background-color: var(--blue);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 450px;
  z-index: -1;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

header {
  margin: 100px auto 65px;
  color: var(--white);
}

header h1 {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: var(--font-titule);
  line-height: 6.5rem;
}

header p {
  font-weight: 400;
  font-size: var(--font-paragrafo);
  line-height: 2.5rem;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 40px;
  max-width: 1200px;
  margin: auto;
}

.card {
  background-color: var(--white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.251);
  max-width: 355px;
  height: 470px;
  text-align: justify;

  border-radius: 8px;
  transition: all 0.3s;
}
.card:hover {
  transform: scale(1.1);
}

.card .title-card {
  display: flex;
  justify-content: space-between;

  font-weight: 600;
  font-size: 2rem;
  line-height: 2.7rem;

  color: var(--blue);
  padding: 30px 30px 20px;
}

.card .yellow-title {
  background-color: var(--yellow);
  box-shadow: 0px 1px 2px rgba(142, 150, 185, 0.25);
  border-radius: 8px 8px 0px 0px;
}
.card .title-card input {
  padding: 8px 24px;
  background-color: var(--blue);
  border-radius: 20px;
  color: var(--white);
}

.card-main {
  padding: 10px 30px 30px;
  display: flex;
  flex-direction: column;
}

.card-main .price {
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 4.9rem;

  color: #1e2338;
  margin-bottom: 10px;
}
.card-main span {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.5rem;

  color: var(--gray);
}

.card-main p {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.9rem;

  color: var(--gray);
}

.line {
  border-bottom: 1px solid #eee;
  margin: 20px 0;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

i {
  color: #59ce9f;
  margin-right: 15px;
}

ul li {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.9rem;
  color: var(--gray);
}

button {
  width: 100%;
  padding: 12px 24px;
  border: 1px solid var(--blue);
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.5rem;

  transition: all .3s;
}
button:hover {
  background-color: var(--blue);
  color: var(--white);
}

div.cards .card-main button.first {
  margin-top: 120px;
}
div.cards .card-main button.second {
  margin-top: 82px;
}
div.cards .card-main button.third {
  margin-top: 59px;
}


