@media (max-width:920px) {
    header {
        flex-direction: column;
        gap: 20px;
    }
    .containerInit {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .galeriaAstro {
        grid-template-columns: repeat(3,1fr);
    }

}

@media (max-width:650px){

    .galeriaAstro {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width:490px){

    .galeriaAstro {
        grid-template-columns: repeat(1,1fr);
    }

}
