@media (max-width: 920px) {
  header {
    flex-direction: column;
    gap: 20px;
  }
  .containerInit {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .galeriaAstro {
    grid-template-columns: repeat(3, 1fr);
  }

  .galeriaAstro img:nth-child(1),
  .galeriaAstro img:nth-child(2),
  .galeriaAstro img:nth-child(3),
  .galeriaAstro img:nth-child(4) {
    margin-bottom: 0rem;
  }

  .container-main {
    display: flex;
    flex-direction: column;
  }
  .container-main .block {
    flex-direction: row;
    border-right: none;
  }
  .container-astro {
    margin: auto;
    text-align: center;
  }

  .astroBlock {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .lineLateral {
    display: none;
  }

  .blockArt{
    grid-template-columns: repeat(2,1fr);
  }
}

@media (max-width: 650px) {
  .galeriaAstro {
    grid-template-columns: repeat(2, 1fr);
  }

  .content {
    flex-direction: column;
  }

  .container-artistas {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .blockArt {
    grid-template-columns: repeat(1,1fr);
    
  }

}

@media (max-width: 490px) {
  .galeriaAstro {
    grid-template-columns: repeat(1, 1fr);
  }
}
