* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-background: #0e0e0e;
  --color-logo: #ff5b50;
  --card-color: #252525;
  --text-color: #fff;
  --subtitle-color: #636060;
  --black-text: #000;
  --color-input: #0d0d0d;

  font-size: 62.5%;
  --font-sz-h1: clamp(2rem, 1rem + 3vw, 5rem);
  --font-sz-p: clamp(1rem, 0.4rem + 3vw, 1.8rem);
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--body-background);
  color: var(--text-color);
}

.page {
  margin: auto;
  max-width: 144rem;
}

h1 {
  font-weight: 700;
  font-size: var(--font-sz-h1);
  line-height: 6.1rem;
}

span {
  color: var(--color-logo);
}

p {
  font-weight: 400;
  font-size: var(--font-sz-p);
  line-height: 2.2rem;
}

ul, li{
  list-style: none;
}

a {
  text-decoration: none;
  font-size: var(--font-sz-p);
}


/* Parte 1 */

.page .container {
  background: url(../image/background.png) no-repeat center center/ cover;
  padding: 57px clamp(3rem, 1rem + 5vw, 8.2rem) 0;
  margin: auto;
}
header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 97px;

  animation: Left 1s ease-in;
}
header nav {
  display: flex;
  align-items: center;
  gap: clamp(3rem, 1rem + 2vw, 6rem);
}
header nav a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 400;
  font-size: clamp(1rem, 0.3rem + 2vw, 1.8rem);
  line-height: 2.2rem;
}
header button {
  display: flex;
  align-items: center;
  gap: clamp(0.8rem, 0.6rem + 5vw, 1.5rem);
  padding: 1.2rem clamp(0.6rem, 0.3rem + 2vw, 2.2rem) 1.2rem
    clamp(0.8rem, 0.3rem + 5vw, 1.4rem);

  font-weight: 700;
  font-size: clamp(0.8rem, 0.2rem + 2vw, 1.6rem);
  line-height: 2rem;
  
  border: none;
  border-radius: 8px;
  max-width: clamp(15rem, 1rem + 40vw, 23rem);

  color: var(--black-text);
  background-color: var(--text-color);
  filter: brightness(70%);
  transition: all .2s ease-in;
}
header button:hover {
  color: var(--color-logo);
  filter: brightness(100%);
} 

.containerInit {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 40px;
  margin-bottom: 100px;

  animation: Opacity 700ms ease-in 1s backwards;
}

.containerInit div:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 55px;
  text-align: left;
}

.containerInit div:nth-child(2) {
  display: flex;
  align-items: end;
}
.containerInit div:nth-child(2) div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.containerInit div:nth-child(3) img {
  max-width: clamp(10rem, 5rem + 30vw, 20rem);
}

#imgBadge {
  animation: upScaleAdnDown 5s 1s backwards infinite ease-in-out;
}



.galeriaAstro {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.6rem;

  max-width: 260rem;

  animation: upScale 3s 1.2s backwards ease-in;
}

.galeriaAstro img {
  margin: auto;
  border: 1px solid var(--text-color);
  width: clamp(15rem, 0.5rem + 20vw, 30.8rem);
}

.galeriaAstro img:nth-child(1),
.galeriaAstro img:nth-child(2),
.galeriaAstro img:nth-child(3),
.galeriaAstro img:nth-child(4) {
  margin-bottom: 6rem;
}

/* Parte 2 */

.container-main {
  display: grid;
  grid-template-areas: "A B B" "A C C";
  

  animation: Left 1s ease-in 3s backwards;
}

.container-main div:nth-child(1) {
  grid-area: A;
}
.container-main div:nth-child(2) {
  grid-area: B;
}
.container-main div:nth-child(3) {
  grid-area: C;
}

.container-main .block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6.7rem;
  gap: clamp(3rem, 2rem + 8vw, 7rem);
  font-weight: 600;

  border-right: 1px solid var(--subtitle-color);
  border-bottom: 1px solid var(--subtitle-color);
}
.block .blockNumbers {
  display: flex;
  flex-direction: column;
}

.block .blockNumbers p {
  color: var(--subtitle-color);
  font-weight: 600;
  line-height: 2.4rem;
}

.container-main .content {
  display: flex;
  justify-content: space-between;
  padding: clamp(3rem, 2rem + 3vw, 7rem);
  gap: clamp(3rem, 3rem + 2vw, 12.6rem);
}
.content .blockText {
  display: flex;
  flex-direction: column;
  gap: clamp(3rem, 1rem + 2vw, 6.3rem);
}
.content .blockText p,
.content .blockText a {
  color: var(--text-color);
  font-weight: 400;
  line-height: 2.2rem;
}

.container-main div:nth-last-child(1) img {
  width: 100%;
  margin: auto;
}

/* Parte 3 */

.container-astro {
  margin: auto;
  padding: 15.1rem 8.7rem;
}
.container-astro h1 {
  margin-bottom: 15.8rem;

  animation: Opacity 1s 3.5s ease-in backwards;
}
.astroBlock {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  gap: clamp(10rem, 5rem + 5vw, 25em);
}

.astroSpace {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
}

.astroGap {
  max-width: 35rem;
}

.astroTitule h3 {
  font-weight: 500;
  font-size: clamp(2rem, 1rem + 5vw, 3rem);
  line-height: 3.7rem;
  margin-bottom: 4.4rem;
}
.container-astro .astroTitule {
  display: flex;
  justify-content: space-between;

  animation: Opacity 1s 3.5s ease-in backwards;
}

.astroParagrafo p {
  display: flex;
  justify-content: space-between;
  color: var(--subtitle-color);

  font-weight: 600;
  line-height: 2.4rem;

  margin-bottom: 2.6rem;

  animation: Left .8s 3.5s ease-in backwards;
}
.astroParagrafo span {
  font-weight: 400;
}

.lineLateral {
  height: 718px;
  border-right: 1px solid var(--subtitle-color);

  animation: Opacity 1s 5s ease-in backwards;
}

.imgAstro {
  width: clamp(20rem, 5rem + 80vw, 35rem);

  animation: upScale 1s 5s ease-in backwards;
}

/* Parte 4 */

.container-artistas {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: auto;

  animation: Opacity 1s 5.5s ease-in backwards;
}

.container-artistas h1 {
  margin-bottom: 12rem;
}

.blockArt {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: clamp(2rem, 3rem + 2vw, 11.1rem);
}

.artista {
  display: flex;
  align-items: center;

  padding: clamp(0.8rem, 0.5rem + 5vw, 2.5rem)
    clamp(1.2rem, 0.8rem + 5vw, 3.2rem);
  gap: 4rem;
  max-width: 35rem;
  background-color: var(--card-color);
  margin-bottom: 5.4rem;
  border-radius: 8px;

  transition: all 0.3s;
}
.artista:hover {
  background-color: var(--color-logo);
}
.art-legenda p span:hover {
  color: var(--text-color);
}

.artista p {
  display: flex;
  flex-direction: column;
  text-align: justify;

  font-weight: 500;
  line-height: 2.4rem;
}

.pArt {
  justify-content: center;
  display: flex;
  gap: 1.3rem;
  margin-bottom: clamp(2rem,3rem + 2vw,14.8rem);
}

/* Parte 5 */

footer {
  margin-top: 14.8rem;
  background-color: var(--card-color);

  animation: UP 3s 7s ease-in backwards;
}

footer .footer-inicio {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: clamp(4rem,2rem + 3vw,8rem) clamp(4rem,2rem + 3vw,8rem) clamp(3rem,1rem + 3vw,6rem);
}

footer .footer-inicio img:nth-child(1) {
  width: clamp(10rem, 5rem + 20vw, 27.6rem);
}

footer .footer-inicio a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: var(--color-logo);
  width: clamp(4rem, 2rem + 5vw, 8rem);
  padding: clamp(1rem, 0.5rem + 2vw, 2.8rem);
  border-radius: 8px;
  transition: all 0.2s ease-in;
}
footer .footer-inicio a:hover {
  background-color: var(--text-color);
}

footer .footer-middle {
  display: flex;
  border-top: 1px solid var(--subtitle-color);
  border-bottom: 1px solid var(--subtitle-color);
  width: 100%;
}

footer form {
  display: flex;
  padding: clamp(2rem,2rem + 3vw,8rem);
  border-right: 1px solid var(--subtitle-color);
}

footer fieldset {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer legend {
  font-weight: 500;
  font-size: 3rem;
  line-height: 3.7rem;
  margin-bottom: 2.5rem;
}

input, footer ul li{
  font-size: var(--font-sz-p);
  line-height: 2.4rem;
}

input#emailEvent {
  padding: clamp(1rem,0.4rem + 2vw,2rem) clamp(1rem,0.4rem + 2vw,2rem) clamp(1rem,0.4rem + 2vw,2rem) clamp(1.8rem,0.2rem + 3vw,2.5rem);
  background-color: var(--black-text);
  border: none;
  font-weight: 400;
  color: var(--color-logo);

  border-radius: 8px 0 0 8px;
}

input#submitEvent {
  padding: clamp(1.4rem,0.3rem + 2vw ,2.2rem) clamp(1.6rem,0.3rem + 3vw,2.5rem);
  color: var(--black-text);
  font-weight: 700;
  border-radius: 0 8px 8px 0;
  filter: brightness(70%);
  transition: all .3s ease-in-out;
}
input#submitEvent:hover {
  filter: brightness(100%);
}

footer ul#list {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(2rem,3rem + 2vw,12.8rem);
}
footer .listWhite {
  color: var(--text-color);
  font-weight: 700;
}
footer ul li{
  color: var(--subtitle-color);
  font-weight: 400;
  margin-bottom: 1.5rem;
}

footer .footer-fim {
  padding: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .footer-fim a{
  color: var(--subtitle-color);
  transition: all .3s ease-in-out;
}
footer .footer-fim a:hover{
  transform: scale(1.1);
  color: var(--color-logo);
}

.footer-fim .redes{
  display: flex;
  gap: 5rem;
}

@keyframes Left {
  0% {
    opacity: 0;
    transform: translateX(-1.5rem);
    display: none;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}



@keyframes Opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes upScale {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes UP {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  40% {
    opacity: 0.5;
    transform: translateY(-50px);
  }
  60% {
    opacity: 0.7;
    transform: translateY(25px);
  }
  80% {
    opacity: 0.9;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes upScaleAdnDown {
  0% {
    transform: scale(0);
  }
  50% {

    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
