
:root {
    --text-color: white;
    --bg-url: url(../image/bg-mobile.jpg);
    --a-hvColor:#00ffff;
    --border-color:rgba(255, 255, 255, 0.5);
    --box-shadow-1: rgba(103, 160, 226, 0.363);
    --bg-a-color: rgba(255, 255, 255, 0.1);
    --bg-a-color-hover:rgba(255, 255, 255, 0.24);
    --switch-bg: url(../image/moon-stars.svg);
}

.light {
    --text-color:black;
    --bg-url: url(../image/bg-mob-light.jpg);
    --a-hvColor:#4c00ff;
    --border-color:rgba(0, 0, 0, 0.5);
    --box-shadow-1: rgba(173, 85, 231, 0.363);
    --bg-a-color:rgba(0, 0, 0, 0.1);
    --bg-a-color-hover:rgba(255, 255, 255, 0.5);
    --switch-bg: url(../image/sun.svg);
}

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
}

body {
    background: black var(--bg-url) no-repeat top center/ cover;
    height: 90vh;
}

#conteiner {
    width: 100%;
    max-width: 588px;
    margin: 56px auto 0px;
    padding: 0 24px;
}

#profile {
    text-align: center;
    padding: 24px;
}

#profile img{
    width: 112px;
    border-radius: 50%;
    transition: .2s;
}
#profile img:hover{
    box-shadow: 1px 1px 2px 2px var(--box-shadow-1);
}

#profile p{
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
}

#profile a,
footer a {
    font-weight: 900;
    transition: .2s;
}

#profile p a:hover,
footer a:hover{
    color: var(--text-color);
    text-shadow: 0px 0px 1px var(--a-hvColor);
}

a {
    text-decoration: none;
}

#switch {
    position: relative;
    width: 64px;
    margin: 4px auto;
}

#switch button{
    width: 32px;
    height: 32px;
    background: white var(--switch-bg) no-repeat center;
    border: 0;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);

    animation: slide-out .235s;

    transition: outline .035s;
}

#switch button:hover{
    outline: 8px solid var(--bg-a-color);
}

#switch span{
    display: block;
    width: 64px;
    height: 24px;

    background: var(--bg-a-color);
    border: 1px solid var(--border-color);
    border-radius: 99px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

}


.light #switch button{
    animation: slide-in .235s forwards;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0;
}

ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg-a-color);
    padding: 16px 24px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    font-weight: 500;
    transition: .2s;
}
ul li a:hover{
    background: var(--bg-a-color-hover);
    box-shadow: inset 1px 1px 10px 2px var(--box-shadow-1);
}

#socialLinks {
    display: flex;
    justify-content: center;
    padding: 24px 0;
    font-size: 24px;
}

#socialLinks a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    transition: .2s;
    border-radius: 50%;
}

#socialLinks a:hover{
    background: var(--bg-a-color);
    box-shadow: 0px 0px 7px 1px var(--box-shadow-1) inset;
}

footer {
    padding: 24px 0;
    text-align: center;
}

@keyframes slide-in {
    from {
        left: 0;
    }
    to {
        left: 50%;
    }
}

@keyframes slide-out {
    from {
        left: 50%;
    }
    to {
        left: 0;
    }
}